.window {
  position: fixed;
  top: 100px;
  left: 200px;
  width: 80vw;
  max-width: 800px;
  min-height: 200px;
  max-height: 80vh;
  display: none;
  flex-direction: column;
  z-index: 1000;
  background: var(--color-bg);
  border: 1px solid var(--color-fg);

  @media (max-width: 768px) {
    width: calc(100vw - 32px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__titlebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    cursor: grab;
    user-select: none;
    border-bottom: 1px solid currentColor;

    a, button {
      font-size: 0.7rem !important;
    }
  }

  &__title {
    font-size: 0.875rem;
  }

  &__image {
    width: 100%;
    text-align: center;

    img {
      max-width: 420px;
      width: 90vw;
      border: 1px solid currentColor;
    }
  }

  &__visit {
    margin: 4px 0;
  }

  &__content {
    padding: 1rem;
    overflow-y: auto;
    flex: 1;
  }
}