---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>nao @ world</title>
	</head>
	<body>
		<div class="pane-left">
			<h1>nao @ world</h1>
			<section class="pane-left__top">
				<div>
					I am a human being based in Tokyo who <button class="text" data-view="code">codes</button>, <button class="text" data-view="language">translates</button>, and dabbles in a lot of stuff.
				</div>
				<div>
					I am interested in randomness, play, light, and sound.
				</div>
			</section>

			<section class="pane-left__bottom">
				<div>
					This website was lovingly hand-coded with pure <a href="https://html.energy/" target="_blank">HTML energy</a>.
				</div>
				<div>Last updated: 2026 June 13 <a href="https://github.com/naobot/naomi-personal" target="_blank">[source]</a></div>
			</section>
		</div>

		<div class="pane-middle" id="code">
			<div>
				<ul>
					<li>tools</li>
					<li>doodles</li>
					<li>collabs</li>
				</ul>
			</div>
		</div>

		<div class="pane-middle--grow" id="language">
			<div>
				I am a native speaker of <strong>English</strong>, heritage speaker of <strong>Mandarin Chinese</strong>, and currently live and work in <strong>Japanese</strong>. I also speak conversational <strong>French</strong> and have dabbled in <strong>Korean</strong>.
			</div>
			<div>
				I used to be a <strong>professional translator</strong> of <strong>Japanese to English</strong> and occasionally <strong>Chinese to English</strong>.
			</div>
			<div>
				In 2019, I wrote and co-created an <a href="https://chickensoupcomic.com/" target="_blank" class="link-external">interactive bilingual children's comic</a>.
			</div>
		</div>
	</body>
</html>
