---
import BaseLayout from '../layouts/BaseLayout.astro'
import Pane from '../components/Pane.astro'
---

<BaseLayout>
  <Pane id="language" type="middle" grow>
    <h2>Language</h2>
    <p>
      I am a native speaker of <strong>English</strong>, heritage speaker of <strong>Mandarin Chinese</strong>, and currently live and work in <strong>Japanese</strong>. I also speak conversational <strong>French</strong> and have dabbled in <strong>Korean</strong>.
    </p>
    <p>
      I used to be a <strong>professional translator</strong> of <strong>Japanese to English</strong> and occasionally <strong>Chinese to English</strong>.
    </p>
    <p>
      In 2019, I wrote and co-created an <a href="https://chickensoupcomic.com/" target="_blank" class="link-external">interactive bilingual children's comic</a>.
    </p>
  </Pane>
</BaseLayout>