---
---
<div class="pane pane-left">
  <div class="pane-left__header">
    <slot name="header" />
  </div>

  <section class="pane-left__main">
    <slot name="main" />
  </section>

  <section class="pane-left__nav">
    <slot name="nav" />
  </section>

  <section class="pane-left__bottom">
    <slot name="bottom" />
  </section>
</div>